# User-specific files (caches, window layouts, history)
dist

.vs/
**/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results (Compiled binaries and build directories)
[Db]ebug/
[Rr]elease/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
**/bin/

**/obj


# Package management directories
packages/

# Roslyn cache directories
.vs- Roslyn/
/src/FinancialStatements.BFF/.vs
/src/financial-statements-app/node_modules
/src/financial-statements-app/.angular/cache/17.3.17
/src/FinancialStatements.BFF/obj
