# User-specific files (caches, window layouts, history)
.vs/
**/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results (Compiled binaries and build directories)
[Db]ebug/
[Rr]elease/
**/bin/
**/obj/

# Package management directories
packages/

# Roslyn cache directories
.vs- Roslyn/


